
{{#if isLoggedIn }}

<div>
    <a class="add-btn" href="/thingshui/create"><img class="add-btn-icon" src="/images/droplet.png" />Add a thing shui</a>
</div>

<div class="path-text">
  <footer class="footerIndex-ts">
    <p>DONT FRET!! Finding it hard to say goodbye? Meet the "Thing Shui" collection. Commemorate
      the darling object with a picture, and a story, a memory, hell a poem if you feel like it.
      It's essense will be safe without the need of extra clutter!</p>
    <img class="image-thingshui" src="/images/dontfret2.png"/>
  </footer>
</div>


<div>
    <hr>
    <h1 class="collections-title">THING SHUI COLLECTION</h1>
</div>

<div class="haiku-card">
    {{#each thingshuis}}
    <div class="card haiku-border" style="width: 18rem;">
            {{#if image}}
            <img class="card image-tile" src="{{this.image}}" alt="Card image cap">
            {{/if}}
        <div class="card-body">
            <h6 class="card-text title-text card-details">{{this.title}}</h6>
            <p class="card-subtitle mb-2 text-muted card-details">{{this.description}}</p>
            <a class="card-details" href="" role="button"><img class="tile-btn-icon" src="/images/square.png"/>Edit</a>
            <form action="/thingshui/{{ this._id }}/delete" method="POST">
            <button type="submit" class="tile-btn-bg card-details"><img class="tile-btn-icon" src="/images/square.png"/>Delete</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    {{/each}}
    <br>
</div>

{{else }}

<div class="logged-out-m">
<h1>Your Mess is Missin' Out!!<h1>
<h4>Sign up to "Thing Shui" your things, treasure the stories with us and let go of what isn't a fresh and future part of your day!</h4>
</div>

{{/if }}