{{#if isLoggedIn }}

<div>
    <a class="add-btn" href="/path"><img class="add-btn-icon" src="/images/droplet.png" />Begin a new Path</a>
</div>
<div>
    <hr>
    <h1 class="collections-title">DASHBOARD</h1>
</div>

<div class="haiku-card">
    {{#each paths}}
    <div class="card haiku-border" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title card-details">{{this.type}}</h5>
            <h6 class="card-subtitle mb-2 text-muted card-details">{{this.title}}</h6>
            <p class="card-text card-details">{{this.stage}}</p>
            <a href="/paths/{{this._id}}" class="card-link card-details"><img class="tile-btn-icon" src="/images/square.png"/>Continue on this path</a>

            <form action="/paths/{{ this._id }}/delete" method="POST">
            <button type="submit" class="tile-btn-bg card-details"><img class="tile-btn-icon" src="/images/square.png"/>Delete</button>
            </form>
        </div>
    </div>
    <br>
    {{/each}}
</div>

{{else }}

<div class="logged-out-m">
<h1>Your Mess is Missin' Out!!<h1>
<h4>Sign up to release yourself of clutter in a few small steps using our Path process</h4>
</div>

  
{{/if }}


{{#if isFinished }}
    {{#each path.images}}

    {{/each}}
{{else }}
{{/if}}