{{#if isLoggedIn }}

<div class="add-btn">
    <a href="/path"><img class="icons-btn" src="/images/conversations2.png" />Begin a new Path</a>
</div>
<div>
    <hr>
    <h1 class="collections-title">DASHBOARD</h1>
</div>

<div class="haiku-card">
    {{#each paths}}
    <div class="haiku-border" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.type}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.title}}</h6>
            <p class="card-text">{{this.stage}}</p>
            <a href="/paths/{{this._id}}" class="card-link">Continue on this path</a>

            <form action="/paths/{{ this._id }}/delete" method="POST">
            <button type="submit" class="btn-mustard">Delete</button>
            </form>
        </div>
    </div>
    <br>
    {{/each}}
</div>

{{else }}

<div class="logged-out-m">
<h1>Your Mess is Missin' Out!!<h1>
<h4>Sign up to release yourself of clutter in a few small steps using our Path process</h4>
</div>

  
{{/if }}


{{#if isFinished }}
    {{#each path.images}}

    {{/each}}
{{else }}
{{/if}}