
{{#if isFinished}}
  <h1>You're finished and 1 step closer of being an haiku master!</h1>
  <h3>Here's the journey...</h3>
  {{#each path.images}}
    {{#if @first}}
      <img src="{{this}}" alt="" srcset="" />
    {{/if}}
    {{#if @last}}
      <img src="{{this}}" alt="" srcset="" />
    {{/if}}
  {{/each}}
{{else}}

  <div class="path">
    <h3 class="path-text">{{stage.title}}</h3>
    <h5 class="path-text">{{stage.description}} </h5>
    <h6 class="path-text">{{stage.tip}}</h6>
    <form
      action="/paths/{{path._id}}"
      method="POST"
      enctype="multipart/form-data"
    >
    <input class="path-text" type="file" name="imageUrl" />
    <button type="submit" class="path-text"><img class="icons-btn-path" src="/images/conversations2.png" />Level Up!!!!!</button>
    </form>
  </div>
</div>
{{/if}}